.no-lm {
    margin-left: 0;
}
.no-rm {
    margin-right: 0;
}
.no-m {
    margin: 0;
}
.no-tm {
    margin-top: 0;
}
.no-bm {
    margin-bottom: 0;
}
.no-p {
    padding: 0;
}
.no-tp {
    padding-top: 0;
}
.no-bp {
    padding-bottom: 0;
}
.no-lp {
    padding-left: 0;
}
.no-rp {
    padding-right: 0;
}

.top-margin{
    margin-top:2%;
}
.right-margin{
    margin-right:3%;
}
.left-margin{
    margin-left:3%;
}

.bottom-margin{
    margin-bottom:4%;
}

.bottom-padding{
    padding-bottom:2%;
}

.top-margin1{   
    margin-top:1%; 
}
.right-align{
    text-align:right;
}
.left-align{
    text-align:left;
}
.center-align{
    text-align:center !important;
}