.nav-tabs>li>a{
    padding:3px 7px;
   
}
.nav-tabs>li.non-active-tab>a{
    margin-right:3px;
    background: linear-gradient(rgba(255,255,255,1),rgba(192,192,192,0.8));
    border-radius:10%;
    cursor:pointer;
    border-top:3px solid lightgrey;
    border-left:1px solid lightgrey;
    border-right:1px solid lightgrey;
}
.nav-tabs>li>a:hover{ 
    border-top:3px solid rgba(18,65,145,1);   
}   

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{    
    color: #fff;
    background-color: rgba(18,65,145,1);
    margin-right:3px;
    border-top:3px solid rgba(18,65,145,1);
    border-radius:10%;
}