<div id="wrapper">
  <div data-ng-show="containerCtrl.isBusy" class="splash-screen">
    <div sep-spinner="containerCtrl.spinnerOptions"></div>
  </div>
  
  
  <div id="main-view" class="container-fluid">
      <h1>Hi Sravya,Sai,Hussain,geetha wel come to due point</h1>
    <div ui-view></div>
  </div>

  <footer class="footer">
    <div class="row footerHeading">
      <div class="col-xs-12 center-align">
       
      </div>
      <div class="col-xs-12 center-align">
       <h1>Welcome to du point MAMA srini</h1>
      </div>
    </div>
  </footer>
</div>

